body {

}
.image {
border-radius: 50%;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: maroon;
  border-width: 5px;
  width: 5%;
}
h1: {
  color: maroon;
}
h1:hover {
  color: silver;
}
a:hover {
background-color: blue;
}
h3 {
  color: maroon;
}
u {
  color: maroon;
}
html  {
  height: 100%;
}
.background {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: linear-gradient(#73777B, white);
  z-index:-1;
}
